* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--font-family: 'Poppins', sans-serif;
}
body{
    font-family:var(--font-family);
    font-weight: 400;
}


img {
	max-width: 100%;
}
.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.btn-reset {
	padding: 0;
	border: none;
    font-family:'Poppins',sans-serif;
	background-color: transparent;
	cursor: pointer;
}
.container {
	max-width: 1110px;
    padding: 0 15px;
	margin: 0 auto;
}
.link{
display: inline-flex;
font-weight: 700;
font-size: 16px;
line-height: 1;
text-decoration:none;
color: #d4d4d4;
transition: color 0.1s ease-in-out;
}
.link svg{
  fill: currentColor;
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
}
.link span{
text-indent:10px;
border-bottom:1px solid currentColor ;
}
.link:hover{
    color: #FFD723;
}
.site-title{
font-weight: 700;
font-size: 36px;
line-height: 46px;
color: #4D533C;
}

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.header-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 15px;
}
.burger{
    width: 40px;
    height:40px;
    background-color:#F5F6F7;
    border-radius:100%;
}
.hero{
    padding-top: 189px;
    background-image: url(../img/Slider.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 210px;
}
.hero-content{
    max-width: 616px;
    color: #fff;
}
.hero-subtitle{
display: inline-block;
margin-bottom: 22px;
font-size: 14px;

}
.hero-title{
margin: 0;
margin-bottom: 24px;
font-size: 60px;
font-weight: 700;
line-height: 74px;
}
.hero-descr{
margin: 0;
margin-bottom: 45px;
font-size: 16px;
line-height: 26px;
}
.hero-link{
    color: #FFD723;
}

.services{
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: -180px;
}
.services-title{
    max-width: 606px;
    margin: 0;
    margin-bottom: 60px;
}
.services-list{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.services-subtitle{
    margin: 0;
	margin-bottom: 20px;
	max-width: 183px;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #4D533C;

}
.services-descr{
    margin: 0;
	margin-bottom: 56px;
	max-width: 194px;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	color: rgba(33, 56, 66, 0.6);
}
.services-item {
	display: flex;
    align-items: flex-start;
	flex-direction: column;
}
.services-link {
    margin-top: auto;
	margin-bottom: 0;
}


.get-started {
	position: relative;
	top: 180px;
	padding: 70px 0;
	width: 88%;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
	background-color: #fafafa;
    padding-left: calc((100% - 1110px) / 2);
	padding-right: 15px;
}

.get-started-title {
	margin: 0;
	margin-bottom: 50px;
	max-width: 822px;
	font-weight: 700;
	font-size: 60px;
	line-height: 74px;
	color: #4D533C;
}

.get-started-link {
	text-transform: uppercase;
}
.footer{
    color: #fff;
    padding-top: 300px;
    background-image: url(../img/Bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-top{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom: 1px solid #5D6544;
}
.footer-contacts-item:not(:last-child){
    margin-right: 128px;
}
.footer-contacts-text{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #B6C197;
}
.footer-contacts-value{
    font-weight: 700;
    font-style: normal;
    text-decoration:none;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}
.footer-middle{
    --grid-gap:70px;
    padding: 60px 0;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #5D6544;
}
.footer-column:last-child{
    position: relative;
}
.footer-column:last-child::before {
	content: "";
	position: absolute;
	top: 0;
	left: calc(-1 * (var(--grid-gap)));
	width: 1px;
	height: 100%;
	background-color: #5D6544;
}
.footer-title{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.footer-link{
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #B6C197;
}
.footer-link:hover{
    color: #FFD723;
}
.footer-text{
    margin: 0;
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
}
.footer-mail{
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    line-height: 38px;
    color: #fff;
}

.social{
    display: flex;
    align-items: center;
}
.social-item:not(:last-child){
    margin-right: 11px;
}
.social-link{
    display: block;
	border-radius: 100%;
    background-color:#444A34;
	width: 33px;
	height: 33px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 21px auto;
    transition: background-color 0.3s ease-in-out;
}
.social-link:hover{
    background-color: #FFD723;
    
}
.social-link-fb{
    background-image: url(../img/icons8-facebook-f.svg);
}
.social-link-tw{
    background-image: url(../img/Twitter.svg);
}
.social-link-g{
    background-image: url(../img/google-plus.svg);
}
.social-link-in{
    background-image: url(../img/LINKEDIN_icon-icons.com_65488.svg);
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}
.copyright{
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}



@media (max-width:992px){
    .services-list {
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
    }
    .services-subtitle{
        max-width: none;
    }
    .services-descr{
        max-width: none;
    }
    .footer-middle{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-column:last-child::before{
        display: none;
    }
}
@media (max-width:768px){
    .get-started-title {
        font-size: 42px;
        line-height: 54px;
    }
}
@media (max-width:576px){
    .footer-middle {
        --grid-gap: 40px;
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-title{
        font-size:50px;
        line-height: 65px;
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-bottom {
        flex-direction: column;
    }
}
@media (max-width:375px){
    .footer-mail {
        font-size: 20px;
    }
    .logo {
		width: 65%;
	}
    .burger {
        width: 35px;
        height: 35px;
    }
    .hero-title {
        font-size: 40px;
        line-height: 55px;
    }
    .services-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .hero {
        padding-top: 140px;
        padding-bottom: 165px;
    }
}

